@model NerdNight.Models.Campaign

@{
    ViewBag.Title = "New Campaign";
    ViewBag.ButtonText = "Create";
}

<h2>Create</h2>

@Html.EditorForModel()

<div>
    @Html.ActionLink("Back to Group", "Details", "Group", new { id = Model.GroupID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
